.App {
  width: 80%;
  margin: auto;
  border: 1px solid grey;
  background-color:#333333;
  padding: 40px;
  display: flex;
}

.form-container {
  width: 40%;
  background-color: #141414;
  padding: 15px;
  margin: 15px;
  height: 200px;
}
.users-container {
  width: 60%;
  background-color: #141414;
  padding: 15px;
  margin: 15px;
}